<div class='container'>
  <h1 class="title">Stupid Coaching</h1>
  <div class="intro">
    <p>This stupid coach is here to motivate you to get up and go to work, and it does not take no for an answer! How assertive :O</p>
    <p>Type in anything you would like to tell or ask this stupid coach, and please excuse it's language ; )</p>
  </div>
  <div class="ask-form">
    <form action="/answer">
      <input type="text" name="question" placeholder="Should I go to work?" class="form--input">
      <input type="submit" value="Ask!" class="form--button">
    </form>
  </div>
</div>
