// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background-color: #202124;
  color: white;
  font-family: "Source Serif 4", sans-serif;
}

p {
  font-size: 20px;
  font-weight: 200;
}

.container {
  margin: 100px auto;
  text-align: left;
  background-color: #303134;
  padding: 20px;
  width: 80%;
  height: 425px;
}

.title{
  text-align: center;
}

// ask page
.intro{
  text-align: center;
  width: 75%;
  margin: 0 auto 30px auto;
}

.ask-form{
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.form--input{
 padding: 8px;
 width: 200px;
 border: none;
 border-radius: 2px;
}

.form--button{
  padding: 8px;
  border: none;
  background-color: #60d3f3;
  color: white;
  border-radius: 2px;
  margin-left: 5px;
  text-shadow: 0 0 1px rgb(168, 168, 168);
  cursor: pointer;
}

.form--button:hover{

}

// answer page
.user {
  padding: 10px;
  border-left: 8px solid #60d3f3;
  margin: 10px 45px;
}

.coach {
  padding: 10px;
  border-right: 8px solid rgb(160, 159, 159);
  margin-top: 10px;
  margin-left: auto;
  margin-right: 45px;
  max-width: 350px;
  text-align: right;
}

// hover effect
.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: #60d3f3;
}

.link-container {
    position: relative;
    display: block;
    padding: 20px 0;
    margin: 10px auto;
    text-align: center;
}

.hover-2 {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        background-color: #60d3f3;

        transition: transform 0.3s;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   p {
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
  p {
    font-size: 18px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
  width: 55%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 45%;
  }

}
